<!-- This was written by Cole Simmons -->

<h1>About the app</h1>
<p>This is an app written in Brandeis' COSI 103 class which can be used to track transactions</p>
<h2>Team Members</h2>
<h3>Samuel Herman</h3>
<P>Samuel Herman is a current freshman studying computer science and math</P>
<h3>Cole Simmons</h3>
<p>Cole Simmons is a current freshman studying computer science and anthropology</p>
<h3>Connor Zawacki</h3>
<p>Connor Zawacki is a current junior studying computer science and neuroscience</p>