<h1>About the app and team</h1>
<p class="bg-info text-danger">CA02 Web App </p>


    <div class="row">
      <div class="col g-info">
        Projects:<br>
        Samuel Herman - ChatGPT animals of a color<br>
        JoeBob - woof
      </div>    
    </div>