<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to ChefGPT</title>
    <style>
      body {
        background-color: #1c1c1c; /* black */
        color: #fff; /* white */
        font-size: 2em;
        text-align: center;
        margin-top: 25px;
      }
      h1 {
        margin-top: 60px;
        font-size: 2em;
        color: #05cfc5; /* cyan */
        margin-bottom: 100px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to my app page</h1>
    <p>insert text here</p>
  </body>
</html>