<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    function constructString() {
      const description = document.getElementById('description').value;
      const type = document.getElementById('Type').value;
      const flavor = document.getElementById('Flavor').value;
      const restrictions = document.getElementById('Restrictions').value;
      const message = `Please provide a recipe that meets the following description "${description}", is a "${type}", has a flavor profile of "${flavor}" and meets the following dietary restrictions; "${restrictions}"`;
      
      document.getElementById('message').value = message;
    }
    </script>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to ChefGPT</title>
    <style>
      body {
        background-color: #1c1c1c; /* black */
        color: #fff; /* white */
        font-size: 2em;
        text-align: center;
        margin-top: 25px;
      }
      h1 {
        margin-top: 60px;
        font-size: 2em;
        color: #05cfc5; /* cyan */
        margin-bottom: 100px;
      }
    </style>
  </head>
  <body>
    <h1>welcome to my app page</h1>
    <p>Let's Make a New Recipe!</p>
    <form method="post" action="/addrecipe">
      <input type="text" name="description" id="description" placeholder="description" required> <br>
      <input type="text" name="Type" id="Type" placeholder="Type (Breakfast? Snack?)" required> <br>
      <input type="text" name="Flavor" id="Flavor" placeholder="Flavor (spicy? sweet?)" required> <br>
      <input type="text" name="Restrictions" id="Restrictions" placeholder="dietary restrictions" required> <br>
      
      <input type="hidden" name="message" value="" id="message">
      
      <button type="submit" onclick="constructString()">create!</button>
    </form>
  </body>
</html>