    <h1>CS103a App</h1>
    <p class="text-danger">Welcome to the App</p>
    <a href="/about">About Our Team and App</a><br>
    <a href="/cole">Cole's Page</a><br>
    <a href="/connor">Connor's Page</a><br>
    <a href="/sam">Sam's Page</a><br>
