<h1>Team Members</h1>
<p class="bg-info text-danger">About Us</p>


    <div class="row">
      <div class="col g-info">
        <h2>Cole Simmons</h2>
        Freshman at Brandeis University<br>
        Studying computer science and anthropology<br>
        Responsible for making this page and the index as well as his prompt page
      </div>    
    </div>